body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 17in;
    width: 11in;
    margin-left: 15px;
    margin-top: 15px;
}
header{
    width: 30%;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    background-color: lightgray;
    height: 30px;
    border: solid black 1px;
}
h1{
    text-align: center;
    font-weight: 900;
}
p{
    white-space: pre-line;
}
#flex-columns{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: space-around;
}
.prop-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 30%;
    border: solid black 1px;
}
    .prop-title{
        
    }
    .prop-desciption{

    }
    .prop-explanation{

    }